<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="2; url={{ moduleDocURL .module }}">

        <meta
            name="go-import"
            content="{{ modulePath .module }} git {{ .config.GitURL }}"
        />

        <meta
            name="go-source"
            content="{{ modulePath .module }} {{ .config.GitURL }} {{ .config.GitURL }}/tree/{{ .config.DefaultBranch }}{/dir} {{ .config.GitURL }}/tree/{{ .config.DefaultBranch }}{/dir}/{file}#L{line}"
        />
    </head>
    <body>
        Documentation for <a href="{{ moduleDocURL .module }}">{{ modulePath .module }}</a>
    </body>
</html>
